<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mahjong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mahjong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mahjong.Properties.Settings>
            <setting name="Player_North" serializeAs="String">
                <value>陳怡欣</value>
            </setting>
            <setting name="Player_East" serializeAs="String">
                <value>張惠娟</value>
            </setting>
            <setting name="Player_South" serializeAs="String">
                <value>林宗水</value>
            </setting>
            <setting name="Player_West" serializeAs="String">
                <value>吳昆賢</value>
            </setting>
            <setting name="BasicTai" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RunRoundTime_Slow" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="RunRoundTime_Quick" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RunRoundTime_Normal" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Money" serializeAs="String">
                <value>5000</value>
            </setting>
        </Mahjong.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Mahjong.Properties.Settings>
            <setting name="image_w" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="image_h" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="East" serializeAs="String">
                <value>東</value>
            </setting>
            <setting name="Nouth" serializeAs="String">
                <value>北</value>
            </setting>
            <setting name="West" serializeAs="String">
                <value>西</value>
            </setting>
            <setting name="South" serializeAs="String">
                <value>南</value>
            </setting>
            <setting name="Dots" serializeAs="String">
                <value>筒</value>
            </setting>
            <setting name="Bamboos" serializeAs="String">
                <value>索</value>
            </setting>
            <setting name="Characters" serializeAs="String">
                <value>萬</value>
            </setting>
            <setting name="Wordtiles" serializeAs="String">
                <value>字</value>
            </setting>
            <setting name="Flower" serializeAs="String">
                <value>花</value>
            </setting>
            <setting name="Table" serializeAs="String">
                <value>桌面</value>
            </setting>
            <setting name="RedCenter" serializeAs="String">
                <value>紅中</value>
            </setting>
            <setting name="Rich" serializeAs="String">
                <value>青發</value>
            </setting>
            <setting name="WhiteTile" serializeAs="String">
                <value>白版</value>
            </setting>
            <setting name="Pong" serializeAs="String">
                <value>碰</value>
            </setting>
            <setting name="Kong" serializeAs="String">
                <value>槓</value>
            </setting>
            <setting name="Chow" serializeAs="String">
                <value>吃</value>
            </setting>
            <setting name="Win" serializeAs="String">
                <value>胡</value>
            </setting>
            <setting name="ReadytoWin" serializeAs="String">
                <value>聽牌</value>
            </setting>
            <setting name="Round" serializeAs="String">
                <value>風</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>開</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>十六張麻將遊戲</value>
            </setting>
            <setting name="DebugKey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="Debug_InformationKey" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="Debug_Number" serializeAs="String">
                <value>值</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>除錯模式</value>
            </setting>
            <setting name="Debug_Class" serializeAs="String">
                <value>類別</value>
            </setting>
            <setting name="Debug_Source" serializeAs="String">
                <value>分數</value>
            </setting>
            <setting name="Debug_Picture" serializeAs="String">
                <value>圖片</value>
            </setting>
            <setting name="Debug_Team" serializeAs="String">
                <value>組別</value>
            </setting>
            <setting name="Debug_Picture_Width" serializeAs="String">
                <value>寬</value>
            </setting>
            <setting name="Debug_Picture_Height" serializeAs="String">
                <value>高</value>
            </setting>
            <setting name="NewGame" serializeAs="String">
                <value>新遊戲</value>
            </setting>
            <setting name="OnlineGame" serializeAs="String">
                <value>網路遊戲</value>
            </setting>
            <setting name="About" serializeAs="String">
                <value>關於</value>
            </setting>
            <setting name="Config" serializeAs="String">
                <value>設定</value>
            </setting>
            <setting name="Exit" serializeAs="String">
                <value>結束遊戲</value>
            </setting>
            <setting name="NewOnlineGame" serializeAs="String">
                <value>新增/加入網路遊戲</value>
            </setting>
            <setting name="ResizePercentage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>過水</value>
            </setting>
            <setting name="DarkKong" serializeAs="String">
                <value>暗槓</value>
            </setting>
            <setting name="FlowEnd" serializeAs="String">
                <value>流局</value>
            </setting>
            <setting name="Debug_RenewKey" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="WhoPush" serializeAs="String">
                <value>誰打的</value>
            </setting>
            <setting name="NewGame_Key" serializeAs="String">
                <value>F4</value>
            </setting>
            <setting name="TouchWin" serializeAs="String">
                <value>自摸</value>
            </setting>
            <setting name="ErrorBrandPlayer" serializeAs="String">
                <value>相公</value>
            </setting>
            <setting name="ShowMessageBox" serializeAs="String">
                <value>顯示提示</value>
            </setting>
            <setting name="Debug_IsCanSee" serializeAs="String">
                <value>可視</value>
            </setting>
            <setting name="RunRoundTime_Normal_Text" serializeAs="String">
                <value>正常速</value>
            </setting>
            <setting name="RunRoundTime_Quick_Text" serializeAs="String">
                <value>超快速</value>
            </setting>
            <setting name="RunRoundTime_Slow_Text" serializeAs="String">
                <value>慢速</value>
            </setting>
            <setting name="ChowBrandCheck" serializeAs="String">
                <value>是否吃牌</value>
            </setting>
            <setting name="One_Tai" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SaveGame" serializeAs="String">
                <value>儲存牌局</value>
            </setting>
            <setting name="LoadGame" serializeAs="String">
                <value>讀取牌局</value>
            </setting>
            <setting name="GameMenu" serializeAs="String">
                <value>遊戲</value>
            </setting>
            <setting name="OnlineGameMenu" serializeAs="String">
                <value>網路遊戲</value>
            </setting>
            <setting name="RunRoundTime_Menu" serializeAs="String">
                <value>速度</value>
            </setting>
            <setting name="PlaySound_Menu" serializeAs="String">
                <value>音效</value>
            </setting>
            <setting name="PlayerNameConfigTitle" serializeAs="String">
                <value>玩家姓名設定</value>
            </setting>
            <setting name="ThisisPlayer" serializeAs="String">
                <value>玩家</value>
            </setting>
            <setting name="Button_Ok" serializeAs="String">
                <value>確定</value>
            </setting>
            <setting name="Button_Cancel" serializeAs="String">
                <value>取消</value>
            </setting>
        </Mahjong.Properties.Settings>
    </applicationSettings>
</configuration>