<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mahjong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mahjong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mahjong.Properties.Settings>
            <setting name="Player1" serializeAs="String">
                <value>王廷亨</value>
            </setting>
            <setting name="Player2" serializeAs="String">
                <value>林宗水</value>
            </setting>
            <setting name="Player3" serializeAs="String">
                <value>周歡弘</value>
            </setting>
            <setting name="Player4" serializeAs="String">
                <value>林雅光</value>
            </setting>
            <setting name="Money" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="BasicTai" serializeAs="String">
                <value>50</value>
            </setting>
        </Mahjong.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Mahjong.Properties.Settings>
            <setting name="image_w" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="image_h" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="East" serializeAs="String">
                <value>東</value>
            </setting>
            <setting name="Nouth" serializeAs="String">
                <value>北</value>
            </setting>
            <setting name="West" serializeAs="String">
                <value>西</value>
            </setting>
            <setting name="South" serializeAs="String">
                <value>南</value>
            </setting>
            <setting name="Dots" serializeAs="String">
                <value>筒</value>
            </setting>
            <setting name="Bamboos" serializeAs="String">
                <value>索</value>
            </setting>
            <setting name="Characters" serializeAs="String">
                <value>萬</value>
            </setting>
            <setting name="Wordtiles" serializeAs="String">
                <value>字</value>
            </setting>
            <setting name="Flower" serializeAs="String">
                <value>花</value>
            </setting>
            <setting name="Table" serializeAs="String">
                <value>桌面</value>
            </setting>
            <setting name="RedCenter" serializeAs="String">
                <value>紅中</value>
            </setting>
            <setting name="Rich" serializeAs="String">
                <value>青發</value>
            </setting>
            <setting name="WhiteTile" serializeAs="String">
                <value>白版</value>
            </setting>
            <setting name="Pong" serializeAs="String">
                <value>碰</value>
            </setting>
            <setting name="Kong" serializeAs="String">
                <value>槓</value>
            </setting>
            <setting name="Chow" serializeAs="String">
                <value>吃</value>
            </setting>
            <setting name="Win" serializeAs="String">
                <value>胡</value>
            </setting>
            <setting name="ReadytoWin" serializeAs="String">
                <value>聽牌</value>
            </setting>
            <setting name="Round" serializeAs="String">
                <value>風</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>局</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>十六張麻將遊戲</value>
            </setting>
            <setting name="DebugKey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="DebugInformationKey" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="Debug_Number" serializeAs="String">
                <value>值</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>除錯模式</value>
            </setting>
            <setting name="Debug_Class" serializeAs="String">
                <value>類別</value>
            </setting>
            <setting name="Debug_Source" serializeAs="String">
                <value>分數</value>
            </setting>
            <setting name="Debug_Picture" serializeAs="String">
                <value>圖片</value>
            </setting>
            <setting name="Debug_Team" serializeAs="String">
                <value>組別</value>
            </setting>
            <setting name="Debug_Picture_Width" serializeAs="String">
                <value>寬</value>
            </setting>
            <setting name="Debug_Picture_Height" serializeAs="String">
                <value>高</value>
            </setting>
            <setting name="NewGame" serializeAs="String">
                <value>新遊戲</value>
            </setting>
            <setting name="OnlineGame" serializeAs="String">
                <value>網路遊戲</value>
            </setting>
            <setting name="About" serializeAs="String">
                <value>關於</value>
            </setting>
            <setting name="Config" serializeAs="String">
                <value>設定</value>
            </setting>
            <setting name="Exit" serializeAs="String">
                <value>結束</value>
            </setting>
            <setting name="NewOnlineGame" serializeAs="String">
                <value>新增/加入網路遊戲</value>
            </setting>
            <setting name="ResizePercentage" serializeAs="String">
                <value>1</value>
            </setting>
        </Mahjong.Properties.Settings>
    </applicationSettings>
</configuration>